.map {

    @include adaptiv-size('margin-top', 80, 70);
    @include adaptiv-size('padding-top', 100, 80);
    @include adaptiv-size('padding-bottom', 123, 97);
    background-color: $white-200;


    &__body {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;

        @media(max-width: $breakpoint-991) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        text-align: left !important;
        margin-bottom: 30px;
    }

    &__script {
        @include adaptiv-size('width', 760, 335);
        position: relative;
        height: 400px;

        &::after {
            @include adaptiv-size('font-size', 40, 20);
            content: 'посмотреть на карте';
            visibility: hidden;
            opacity: 0;
            color: $white-400;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(#000, .7);
            z-index: 1000;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .3s opacity ease;
        }

        &:hover {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            cursor: pointer;
        }

        @media(max-width: $breakpoint-991) {
            width: 100%;
        }
    }

    &__addresses {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(max-width: $breakpoint-991) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
        }
    }
}

.addresses-map {

    &__block {
        min-height: 190px;
        max-width: 360px;
        padding: 40px 35px 45px 70px;
        background-color: $white;
        border-radius: 20px;

    }

    &__top {
        position: relative;
        font-size: 24px;
        font-weight: 600;
        color: $main-color;
        line-height: 90%;
        white-space: nowrap;
        margin-bottom: 15px;

        &::before {
            content: url('./assets/icons/logo-mini.svg');
            position: absolute;
            top: 0;
            right: calc(100% + 15px)
        }
    }

    &__bottom {
        font-size: 20px;
        font-weight: 500;
    }
}

.modal-map {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, .7);
    z-index: 1000;

    &__close {
        font-size: 40px;
        color: $white;
        position: absolute;
        top: 0;
        left: 71%;
        line-height: 30px;
        cursor: pointer;
    }

    &__script {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;

        iframe {
            border-radius: 10px;

            @media(max-width: $breakpoint-991) {
                max-width: 575px;
            }

            @media(max-width: $breakpoint-767) {
                max-width: 400px;
            }

            @media(max-width: $breakpoint-575) {
                max-width: 100%;
            }
        }
    }
}