.questions {
    @include adaptiv-size('padding-top', 96, 80);
    @include adaptiv-size('padding-bottom', 147, 70);

    background-color: $white;

    &__title {
        text-align: left !important;
        margin-bottom: 50px;
    }

    
}
.accordion-questions {

    &__item {
        padding: 25px 30px 35px 30px;
        border: 1px solid $white-300;
        border-radius: 20px;
        user-select: none;
        transition: .3s background-color ease;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &_active {
            color: $white;
            background-color: $main-color;

            .accordion-questions__question {
                span {
                    transform: rotate(45deg);
                }
            }
            .accordion-questions__answer {
                visibility: visible;
                padding-top: 20px;
            }
        }
        @media(max-width: $breakpoint-575) {
            padding: 32px 20px 32px 11px;
        }
    }

    &__question {
        @include adaptiv-size('font-size', 24, 16);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        gap: 10px;
        border: none;
        background-color: transparent;
        color: inherit;             
        cursor: pointer;
    }
    &__question-plus {
        @include adaptiv-size('width', 50, 35);
        @include adaptiv-size('height', 50, 35);
        position: relative;
        display: block;
        flex-shrink: 0;
        border-radius: 100%;
        background-color: $white-200;
        transition: .3s transform ease;
        &::after {
            content: '';
            @include adaptiv-size('height', 30, 20);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $main-color;
        }
        &::before {
            content: '';
            position: absolute;
            @include adaptiv-size('width', 30, 20);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $main-color;
        }
        
    }

    &__answer {
        @include adaptiv-size('font-size', 18, 14);
        font-weight: 700;
        visibility: hidden;
        max-height: 0;
        transition: .3s max-height ease-in-out, .3s visibility ease-in-out, .3s padding-top ease-in-out;
        overflow: hidden;
        @media(max-width: $breakpoint-575) {
            font-weight: 500;
        }
    }
}
