.school {
    @include adaptiv-size('padding-top', 70, 50);

    &__grid {
        @include adaptiv-size('margin-bottom', 120, 40);
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-between;

        @media(max-width: $breakpoint-991) {
            grid-template-columns: repeat(2, 45%);
            justify-content: center;
            gap: 30px;
        }

        @media(max-width: $breakpoint-575) {
            grid-template-columns: repeat(1, 100%);
        }
    }

    &__title {
        margin-bottom: 45px;
    }

    &__map {
        position: relative;
        background: url('./assets/img/school/map.png') no-repeat;
        background-position: center center;
        min-height: 465px;
        max-width: 1170px;
        margin: 0 auto;
        @media(max-width: $breakpoint-767) {
            padding-top: 460px;
            background-position: top center;
        }
        @media(max-width: $breakpoint-575) {
            padding-top: 400px
        }
    }

}

.grid-school {

    &__item {
        padding-top: 110px;

        &_1 {
            background: url('./assets/icons/school/profi.png') top left no-repeat;
        }
        &_2 {
            background: url('./assets/icons/school/group.svg') top left no-repeat;
        }
        &_3 {
            background: url('./assets/icons/school/schedule.svg') top left no-repeat;
        }
        &_4 {
            background: url('./assets/icons/school/all.svg') top left no-repeat;
        }

        @media(max-width: $breakpoint-575) {
            padding-left: 120px;
            padding-top: 0;
            background-size: contain;
        }
    }

    &__content {

        @media(max-width: $breakpoint-575) {
            margin-top: 0;

        }
    }


    &__title {
        @include adaptiv-size('font-size', 20, 18);
        font-weight: 600;
        margin-bottom: 14px;
    }

    &__descr {
        @include adaptiv-size('font-size', 18, 16);
    }
}

.map-school {
    &__info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 15px 30px 19px 19px;
        border-radius: 15px;
        background: $white-200;
        height: clamp(80px, 20vw, 110px);

        &::after {
            content: '';
            width: 24px;
            height: 2px;
            background-color: $main-color;
            position: absolute;
            top: 30px;
            right: 7px;
        }

        &::before {
            content: '';
            width: 2px;
            height: 24px;
            background-color: $main-color;
            position: absolute;
            top: 20px;
            right: 18px;
        }
    }

    &__img {
        &_1 {
            @include adaptiv-size('width', 71, 51);
            @include adaptiv-size('height', 60, 43);
        }

        &_2 {
            @include adaptiv-size('width', 80, 58);
            @include adaptiv-size('height', 65, 47);
        }

        &_3 {
            @include adaptiv-size('width', 68, 66);
            @include adaptiv-size('height', 75, 65);
        }
    }

    &__content {
        display: flex;
        flex-direction: column
    }

    &__lg-title {
        @include adaptiv-size('font-size', 48, 30);
    }

    &__sm-title {
        @include adaptiv-size('font-size', 20, 14);
    }

   

    

    &__graduates {
        max-width: clamp(212px, 30vw, 292px);
        display: flex;
        position: absolute;
        top: -25px;
        right: 10%;

        @media(max-width: 767px) {
            right: 50%;
            transform: translateX(50%);
        }


    }

    &__cities {
        position: absolute;
        top: 40px;
        left: 30%;
        gap: 16px;
        width: clamp(162px, 40vw, 230px);
        @media(max-width: $breakpoint-991) {
            left: 20%;
        }
        @media(max-width: $breakpoint-767) {
            top: unset;
            left: unset;
            right: calc(50% + 40px);
            bottom: 330px;
        }

        @media(max-width: $breakpoint-575) {
            bottom: 300px;
            left: 15px;
        }
        
    }

    &__countries {
        position: absolute;
        top: 215px;
        left: calc(50% + 40px);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: clamp(167px, 40vw, 223px);
        @media(max-width: $breakpoint-767) {
            top: unset;
            bottom: 330px;
        }
        @media(max-width: $breakpoint-575) {
            bottom: 300px;
            left: unset;
            right: 15px;
        }
    }

    &__bottom {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 40px;
        width: 100%;
        @media(max-width: $breakpoint-767) {
            flex-direction: column;
            position: static;
            transform: unset;
            gap: 18px;
        }
    }

    &__bottom-block {
        // @include adaptiv-size('width', 460, 330);
        width: clamp(330px, 40vw, 460px);
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: $white-200;
        padding: 28px 29px 27px 30px;
        border-radius: 15px;

        @media(max-width: $breakpoint-767) {
            width: 100%;
        }
    }

}