$main-color: #8d30b9;
$text-color: #1d1130;
$green: #37d259;
$white: #ffffff;
$black: #000000;
$white-100: #f5f5f5;


$breakpoint-1399: 1399px;
$breakpoint-1299: 1299px;
$breakpoint-1199: 1199px;
$breakpoint-991: 991px;
$breakpoint-767: 767px;
$breakpoint-575: 575px;

$container: 1160px;
$maxWidth: 1920;
$minWidth: 375;